@import './var.scss';
$namespace: 'get';
$theme-light: 'light';
$theme-dark: 'dark';

@mixin get($block) {
    $M: $namespace + '-' + $block;

    .#{$M} {
        @content;
    }
}

// 获取背景颜色
@mixin get-bg-color($target) {
    @include themeify {
        background-color: themed($target);
    }
}

// 获取文字颜色
@mixin get-text-color($target) {
    @include themeify {
        color: themed($target);
    }
}

// 获取阴影色
@mixin get-box-shadow($target) {
    @include themeify {
        box-shadow: 0 0 20px 5px themed($target);
    }
}

// hover边框颜色
@mixin hover-border-color($target) {
    @include themeify {
        border: 1px solid themed($target);
    }
}
// color 边框颜色
@mixin get-border-right-color($target) {
    @include themeify {
        border-right: 1px solid themed($target);
    }
}

@mixin get-color-box-shadow($target) {
    @include themeify {
        box-shadow: 0 6px 16px -9px themed($target);
    }
}


// 处理样式
@mixin themeify {

    // 遍历主题
    @each $theme-name, $theme-map in $themes {
        //!global 把局部变量提升为全局变量 
        $theme-map: $theme-map !global;

        // 判断当前主题
        [data-theme='#{$theme-name}'] & {
            @content;
        }
    }
}

// 根据一个key获取颜色的函数

@function themed($key) {
    @return map-get($theme-map, $key);
}


$light: (
    // 文字颜色
    color: $--color-text,
    // aside 背景
    aside-background-color: $--color-light-bg-1,
    //背景
    background-color: $--color-light-bg,
    background-color1: $--color-light-bg-1,
    background-color1-shallow: $--color-light-bg-1-shallow,
    background-color2: $--color-light-bg-2,
    background-color2-shallow: $--color-light-bg-2-shallow,
    background-color3: $--color-light-bg-3,
    background-color3-shallow: $--color-light-bg-3-shallow,
    background-color4: $--color-light-bg-4,
    background-color4-shallow: $--color-light-bg-4-shallow,
    background-color5: $--color-light-bg-5,
    background-color5-shallow: $--color-light-bg-5-shallow,
    // 毛玻璃背景
    filter-color: $--filter-color-login-light,
    filter-color-shallow: $--filter-color-login-dark-shallow,
    other-background-color: $--color-dark-black,
    login-text-color: #686868,
    color-item-bg: rgba(218, 218, 218, 0.5),
    color-item-shadow: rgba(0, 0, 0, .08),
);
$dark: (
    // 文字颜色
    color: $--color-text-4,
    //背景
    background-color: $--color-dark-black,
    background-color1: $--color-dark-bg-1,
    background-color1-shallow: $--color-dark-bg-1-shallow,
    background-color2: $--color-dark-bg-2,
    background-color2-shallow: $--color-dark-bg-2-shallow,
    background-color3: $--color-dark-bg-3,
    background-color3-shallow: $--color-dark-bg-3-shallow,
    background-color4: $--color-dark-bg-4,
    background-color4-shallow: $--color-dark-bg-4-shallow,
    background-color5: $--color-dark-bg-5,
    background-color5-shallow: $--color-dark-bg-5-shallow,
    // 毛玻璃背景
    filter-color: $--filter-color-login-dark,
    filter-color-shallow: $--filter-color-login-light-shallow,
    other-background-color: $--color-light-bg,
    login-text-color: rgb(196 196 196),
    color-item-bg: rgba(12, 12, 12, 0.5),
    color-item-shadow: rgba(205, 205, 205, 0.559),
);

$themes: (
    #{$theme-light}: $light,
    #{$theme-dark}: $dark
);